---
layout: profile
customjs:
  - /js/dropdown.js
---

{{ content }}

{% assign posts = site.posts %}
{%- if posts.size > 0 -%}
  <div class="grid-header row">
    <h4>see&nbsp</h4>
    <select class="custom-select filter-field">
      <option class="select-posts" value="">all</option>
      <option class="select-travel-stories" value="travel-stories">🏖️ travel stories</option>
      <option class="select-award-travel" value="award-travel">🛩️ award travel</option>
      <option class="select-tech" value="tech">🧑‍💻 tech</option>
      <option class="select-photography" value="photography">📸 photography</option>
    </select>
  </div>

  <div class="row">
    <div class="grid">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <div class="item row" data-category="{{ post.categories }}">
      <a class="post-meta no-link-decoration" href="{{ post.url | relative_url }}">{{ post.icon }} {{ post.title }}</a>
        <p class="post-meta">{{ post.date | date: date_format }}</p>
      </div>
      {%- endfor -%}
    </div>
  </div>
{%- endif -%}
